<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Shae</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>This will allow you to use Apple Music</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Never will be in use</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This will allow you to use your bluetooth</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This will allow you to use your calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to use your camera to make photos for avatar, meals</string>
	<key>NSHealthShareUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to read your health data. The health data will be used to personalize your results.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to update your health data. It would be awesome if your health data would be up to date.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your current location is used to personalize your results. For example, we recommend local foods, or better foods for you depending on weather.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your current location is used to personalize your results. For example, we recommend local foods, or better foods for you depending on weather.</string>
	<key>NSLocationUsageDescription</key>
	<string>Your current location is used to personalize your results. For example, we recommend local foods, or better foods for you depending on weather.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your current location is used to personalize your results. For example, we recommend local foods, or better foods for you depending on weather.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to use your microphone (for videos)</string>
	<key>NSMotionUsageDescription</key>
	<string>This will allow you to use motion</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to save photos to your photo gallery</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) would like access to your photo gallery</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This will allow you to use speech recognition</string>
	<key>NSUserActivityTypes </key>
	<array>
		<string>com.anthrophi.shae.food-guide-juices</string>
		<string>com.anthrophi.shae.food-guide-teas</string>
		<string>com.anthrophi.shae.food-guide-sweeteners</string>
		<string>com.anthrophi.shae.food-guide-oils</string>
		<string>com.anthrophi.shae.food-guide-salt</string>
		<string>com.anthrophi.shae.food-guide-nut-butters</string>
		<string>com.anthrophi.shae.food-guide-nuts</string>
		<string>com.anthrophi.shae.food-guide-seeds</string>
		<string>com.anthrophi.shae.food-guide-shellfish</string>
		<string>com.anthrophi.shae.food-guide-oily-fish</string>
		<string>com.anthrophi.shae.food-guide-white-fish</string>
		<string>com.anthrophi.shae.food-guide-red-meat</string>
		<string>com.anthrophi.shae.food-guide-white-meat</string>
		<string>com.anthrophi.shae.food-guide-eggs</string>
		<string>com.anthrophi.shae.food-guide-animal-proteins</string>
		<string>com.anthrophi.shae.food-guide-dried-fruit</string>
		<string>com.anthrophi.shae.food-guide-fruit</string>
		<string>com.anthrophi.shae.food-guide-beans</string>
		<string>com.anthrophi.shae.food-guide-root-vegetables</string>
		<string>com.anthrophi.shae.food-guide-green-leafy-vegetables</string>
		<string>com.anthrophi.shae.food-guide-vegetables</string>
		<string>com.anthrophi.shae.food-guide-eating-habits</string>
		<string>com.anthrophi.shae.food-guide-calories</string>
		<string>com.anthrophi.shae.food-guide-food-combining</string>
		<string>com.anthrophi.shae.food-guide</string>
		<string>com.anthrophi.shae.food-preparation-msg</string>
		<string>com.anthrophi.shae.food-preparation-gluten</string>
		<string>com.anthrophi.shae.food-preparation-preservatives</string>
		<string>com.anthrophi.shae.food-preparation-broths</string>
		<string>com.anthrophi.shae.food-preparation-smoothies</string>
		<string>com.anthrophi.shae.food-preparation-baked-goods</string>
		<string>com.anthrophi.shae.food-preparation-breaded-foods</string>
		<string>com.anthrophi.shae.food-preparation-deep-fried-foods</string>
		<string>com.anthrophi.shae.food-preparation-processed-foods</string>
		<string>com.anthrophi.shae.food-preparation-canned-foods</string>
		<string>com.anthrophi.shae.food-preparation-smoked-foods</string>
		<string>com.anthrophi.shae.food-preparation-broiled-foods</string>
		<string>com.anthrophi.shae.food-preparation-dehydrated-foods</string>
		<string>com.anthrophi.shae.food-preparation-frozen-foods</string>
		<string>com.anthrophi.shae.food-preparation-cold-foods</string>
		<string>com.anthrophi.shae.food-preparation-cold-drinks</string>
		<string>com.anthrophi.shae.food-preparation-oil</string>
		<string>com.anthrophi.shae.food-preparation-vinegar</string>
		<string>com.anthrophi.shae.food-preparation-salt</string>
		<string>com.anthrophi.shae.food-preparation-soaked-foods</string>
		<string>com.anthrophi.shae.food-preparation-roasted-foods</string>
		<string>com.anthrophi.shae.food-preparation-sprouted-foods</string>
		<string>com.anthrophi.shae.food-preparation-stir-fried-foods</string>
		<string>com.anthrophi.shae.food-preparation-boiled-foods</string>
		<string>com.anthrophi.shae.food-preparation-baked-foods</string>
		<string>com.anthrophi.shae.food-preparation-juiced-foods</string>
		<string>com.anthrophi.shae.food-preparation-raw-foods</string>
		<string>com.anthrophi.shae.food-preparation-steamed-foods</string>
		<string>com.anthrophi.shae.food-preparation-fermented-foods</string>
		<string>com.anthrophi.shae.food-preparation</string>
		<string>com.anthrophi.shae.shopping-basket</string>
		<string>com.anthrophi.shae.recipes-dinner</string>
		<string>com.anthrophi.shae.recipes-lunch</string>
		<string>com.anthrophi.shae.recipes-breakfast</string>
		<string>com.anthrophi.shae.recipes-snacks</string>
		<string>com.anthrophi.shae.recipes-cocktails</string>
		<string>com.anthrophi.shae.recipes-beverages</string>
		<string>com.anthrophi.shae.recipes-soups</string>
		<string>com.anthrophi.shae.recipes-breads</string>
		<string>com.anthrophi.shae.recipes-salads</string>
		<string>com.anthrophi.shae.recipes-appetizers</string>
		<string>com.anthrophi.shae.recipes-side-dishes</string>
		<string>com.anthrophi.shae.recipes-desserts</string>
		<string>com.anthrophi.shae.recipes-main-dishes</string>
		<string>com.anthrophi.shae.mealplanner-next-week</string>
		<string>com.anthrophi.shae.mealplanner-this-week</string>
		<string>com.anthrophi.shae.mealplanner-tomorrow</string>
		<string>com.anthrophi.shae.mealplanner-today</string>
		<string>com.anthrophi.shae.foodtiming-avoid-snack</string>
		<string>com.anthrophi.shae.foodtiming-avoid-eat</string>
		<string>com.anthrophi.shae.foodtiming-drink-eat</string>
		<string>com.anthrophi.shae.foodtiming-snack-eat</string>
		<string>com.anthrophi.shae.foodtiming-dinner-eat</string>
		<string>com.anthrophi.shae.foodtiming-lunch-eat</string>
		<string>com.anthrophi.shae.foodtiming-breakfast-eat</string>
		<string>com.anthrophi.shae.foodlist-fats-to-avoid</string>
		<string>com.anthrophi.shae.foodlist-fats-to-eat</string>
		<string>com.anthrophi.shae.foodlist-sweets-to-avoid</string>
		<string>com.anthrophi.shae.foodlist-sweets-to-eat</string>
		<string>com.anthrophi.shae.foodlist-dairy-to-avoid</string>
		<string>com.anthrophi.shae.foodlist-dairy-to-eat</string>
		<string>com.anthrophi.shae.foodlist-herbs-to-avoid</string>
		<string>com.anthrophi.shae.foodlist-herbs-to-eat</string>
		<string>com.anthrophi.shae.foodlist-drinks-to-avoid</string>
		<string>com.anthrophi.shae.foodlist-drinks-to-eat</string>
		<string>com.anthrophi.shae.foodlist-seafood-to-avoid</string>
		<string>com.anthrophi.shae.foodlist-seafood-to-eat</string>
		<string>com.anthrophi.shae.foodlist-meats-to-avoid</string>
		<string>com.anthrophi.shae.foodlist-meats-to-eat</string>
		<string>com.anthrophi.shae.foodlist-grains-to-avoid</string>
		<string>com.anthrophi.shae.foodlist-grains-to-eat</string>
		<string>com.anthrophi.shae.foodlist-fruits-to-avoid</string>
		<string>com.anthrophi.shae.foodlist-fruits-to-eat</string>
		<string>com.anthrophi.shae.foodlist-vegetables-to-avoid</string>
		<string>com.anthrophi.shae.foodlist-vegetables-to-eat</string>
		<string>com.anthrophi.shae.foodlist-nuts-to-avoid</string>
		<string>com.anthrophi.shae.foodlist-nuts-to-eat</string>
		<string>com.anthrophi.shae.workout</string>
		<string>com.anthrophi.shae.mealplan</string>
		<string>com.anthrophi.shae.natural-brain-function</string>
		<string>com.anthrophi.shae.ideal-vacation</string>
		<string>com.anthrophi.shae.people-to-look-for</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>RobotoCondensed-Bold.ttf</string>
		<string>RobotoCondensed-BoldItalic.ttf</string>
		<string>RobotoCondensed-Italic.ttf</string>
		<string>RobotoCondensed-Light.ttf</string>
		<string>RobotoCondensed-LightItalic.ttf</string>
		<string>RobotoCondensed-Regular.ttf</string>
		<string>SF-Pro-Display-Black.otf</string>
		<string>SF-Pro-Display-BlackItalic.otf</string>
		<string>SF-Pro-Display-Bold.otf</string>
		<string>SF-Pro-Display-BoldItalic.otf</string>
		<string>SF-Pro-Display-Heavy.otf</string>
		<string>SF-Pro-Display-HeavyItalic.otf</string>
		<string>SF-Pro-Display-Light.otf</string>
		<string>SF-Pro-Display-LightItalic.otf</string>
		<string>SF-Pro-Display-Medium.otf</string>
		<string>SF-Pro-Display-MediumItalic.otf</string>
		<string>SF-Pro-Display-Regular.otf</string>
		<string>SF-Pro-Display-RegularItalic.otf</string>
		<string>SF-Pro-Display-Semibold.otf</string>
		<string>SF-Pro-Display-SemiboldItalic.otf</string>
		<string>SF-Pro-Display-Thin.otf</string>
		<string>SF-Pro-Display-ThinItalic.otf</string>
		<string>SF-Pro-Display-Ultralight.otf</string>
		<string>SF-Pro-Display-UltralightItalic.otf</string>
		<string>SF-Pro-Text-Bold.otf</string>
		<string>SF-Pro-Text-BoldItalic.otf</string>
		<string>SF-Pro-Text-Heavy.otf</string>
		<string>SF-Pro-Text-HeavyItalic.otf</string>
		<string>SF-Pro-Text-Light.otf</string>
		<string>SF-Pro-Text-LightItalic.otf</string>
		<string>SF-Pro-Text-Medium.otf</string>
		<string>SF-Pro-Text-MediumItalic.otf</string>
		<string>SF-Pro-Text-Regular.otf</string>
		<string>SF-Pro-Text-RegularItalic.otf</string>
		<string>SF-Pro-Text-Semibold.otf</string>
		<string>SF-Pro-Text-SemiboldItalic.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>bugsnag</key>
	<dict>
		<key>apiKey</key>
		<string>3348c00ae86bb2f30f7d48097193379a</string>
	</dict>
</dict>
</plist>
